#about-me,.text-about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;
}

.text-about {
    max-width: 35%;
}

.title-about {
    font-size: 36px;
    color: #fff;
    margin-bottom: 5rem;

}

.description-about {
    font-size: 18px;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 5rem;
}

.socials-about, .socials-about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
}

.socials-about li a {
    margin: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    padding: 1rem;
    border-radius: 2rem;
    opacity: 0.7;
}

.socials-about li a:hover {
    transition: 0.5s;
    opacity: 1;
    box-shadow: 0px 10px 15px -3px #000;
    border: 1px solid var(--color-theme);

}

@media (max-width: 912px) {
    .socials-about, .socials-about ul {
        display: flex;
        flex-direction: column;
        color: #fff;
    }
}