.header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hyperlink-hdnav {
    opacity: 0.7;
    cursor: pointer;
}

.contain-list {
    display: flex;
    align-items: center;
}

.hy-list {
    margin: 0 1rem;
}

.hyperlink-hdnav {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-hyperlink-nav);
    color: #fff;
    
}

.hyperlink-hdnav:hover {
    transition: 0.5s;
    opacity: 1;
    color: var(--color-theme);
}
